<%- include('partials/header') -%>

  <body id="feed-page">


    <div class="container">
      <div class="row justify-content-center mt-md-5">
        <div class="col-md-6">
          <a href="#scrollToShared"><button class="row  mt-5 d-md-none btn btn-primary">Scroll to Shared
              Posts</button></a>
          <h2 id="scrollBack" class="share-feed">Your Sounds </h2>
          <ul class="row list-unstyled mobile-feed">
            <% for(var i=0; i<yourPosts.length; i++) {%>
              <li class="col-md-6 justify-content-between mt-5">



                <h3 class="glow-text">
                  <%= yourPosts[i].title %>
                </h3>
                <p><strong>Category</strong>: <% if (yourPosts[i].category) { %>
                    <%= yourPosts[i].category.category %>
                      <% } %>
                </p>
                <p><strong>Created By:</strong>
                  <%= yourPosts[i].user.userName %>
                </p>
                <audio controls>
                  <source src="<%= yourPosts[i].audio %>" type="">
                </audio>
                <!-- </a> -->

              </li>
              <% } %>
          </ul>
        </div>
        <!-- Display shared posts -->
        <div class="col-md-6 pr-5">
          <h2 id="scrollToShared" class="share-feed">Shared Posts</h2>
          <a href="#scrollBack"><button class="row  mt-5 d-md-none btn btn-primary">Back to my Sounds
            </button></a>
          <ul class="row list-unstyled">
            <% for (var i=0; i < sharedPosts.length; i++) { %>
              <li class="col-md-6 justify-content-between mt-5 shared-posts">

                <!-- You can access shared post data using <%= sharedPosts[i].property %> -->

                <h3 class="glow-text glow-share">
                  <%= sharedPosts[i].title %>
                </h3>
                <p><strong>Category</strong>: <% if (sharedPosts[i].category) { %>
                    <%= sharedPosts[i].category.category %>
                      <% } %>
                </p>
                <p><a href="/post/<%= sharedPosts[i]._id%>" class="btn btn-dark">See More...</p></a>
                <p><strong>Created By:</strong>
                  <%= sharedPosts[i].user.userName %>
                </p>
                <audio controls>
                  <source src="<%= sharedPosts[i].audio %>" type="">
                </audio>
              </li>
              <% } %>
          </ul>
        </div>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary profile-btn" href="/profile">Return to Profile</a>
        </div>
      </div>
    </div>
    <script src="/js/audio.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var scrollToSharedPostsBtn = document.querySelector("#scrollToShared")
        scrollToSharedPostsBtn.addEventListener("click", function (event) {
          event.preventDefault()
          var sharedPostsSection = document.querySelector(".share-feed:contains('Shared Posts')")
          var sharedPostsSectionTop = sharedPostsSection.getBoundingClientRect().top + window.scrollY

          // Smooth scroll to the shared posts section
          window.scrollTo({
            top: sharedPostsSectionTop,
            behavior: "smooth",
          })
        })
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var scrollToSharedPostsBtn = document.querySelector("#scrollBack")
        scrollToSharedPostsBtn.addEventListener("click", function (event) {
          event.preventDefault()
          var sharedPostsSection = document.querySelector(".share-feed:contains('Your Posts')")
          var sharedPostsSectionTop = sharedPostsSection.getBoundingClientRect().top + window.scrollY

          // Smooth scroll to the shared posts section
          window.scrollTo({
            top: sharedPostsSectionTop,
            behavior: "smooth",
          })
        })
      });
    </script>
  </body>
  <!-- <%- include('partials/footer') -%> -->