<%- include('partials/header2') -%>

  <body id="post-page">


    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class=" col-md-5 mt-3 box-bg">
          <h2>
            <%= post.title %>
          </h2>

          <audio controls class="post-audio">
            <source src="<%= post.audio%>" type="">
          </audio>

          <!-- Like and trash -->
          <div class="row justify-content-between">
            <form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="btn btn-primary fa fa-heart" type="submit"></button>
            </form>
            <h3 class="col-3 col-sm-3 d-flex align-items-center add-pad likes">Likes: <span class="like-count">
                <%= post.likes %>
              </span>
            </h3>
            <%if(post.user==user.id){ %>
              <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3" id="trash">
                <button class="btn btn-primary fa fa-trash " type="submit" onclick="return confirmDelete()"></button>
              </form>
              <% } else { %>
                <div class="col-1 col-sm-3"></div>
                <%}%>
          </div>
        </div>


        <!-- Description box (caption) -->
        <div class="col-md-5 mt-3 desc-box">
          <h3>Description</h3>
          <p class="add-pad">
            <%= post.caption %>

          </p>
          <% if (post.user==user.id) {%>
            <button class="btn btn-primary fa fa-pen edit-button" data-postid="<%= post.id %>"> &nbsp;Edit
            </button>
            <form action="/post/editPost/<%= post.id %>" method="POST" class="edit-form" data-postid="<%= post.id %>"
              data-userid="<%= user.id %>">
              <input type="hidden" name="userId" value="<%= user.id %>">
              <textarea class="form-control" rows="4" name="editPost"><%= post.caption %></textarea>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <% } %>
              <% if (messages && messages.success && messages.success.length> 0) { %>
                <div class="alert alert-success caption-update col-md-5 mt-1 " role="alert">
                  <% messages.success.forEach(function(message) { %>
                    <%= message %><br>
                      <% }); %>
                        <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="alert"
                          aria-label="Close"></button>
                </div>
                <% } %>
        </div>

        <!-- Comment Section -->
        <h2 class="add-pad">Add a comment</h2>

        <% if (messages && messages.error && messages.error.length> 0) { %>
          <div class="alert alert-danger err-sizing" role="alert">
            <% messages.error.forEach(function(message) { %>
              <%= message %><br>
                <% }); %>
                  <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
          <% } %>

            <form action="/comment/createComment/<%=post._id%>" method="POST">
              <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <input type="text" class="form-control" id="comment" name="comment" maxlength="300" spellcheck="true"
                  autocomplete="off">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>
      <ul class="list-icon">
        <% for(var i=0; i<comments.length; i++) {%>
          <li class="col-md-6 justify-content-between mt-5">
            User <strong>
              <%= comments[i].createdBy%>
            </strong> says : <br>
            <%= comments[i].comment%>
              <%if(comments[i].createdById==user.id) {%>
                <form action="/comment/deleteComment/<%= post.id %>/<%= comments[i]._id %>?_method=DELETE"
                  method="POST">
                  <button class="btn btn-outline-danger " type="submit">Delete</button>
                </form>
                <% } %>
          </li>


          <% } %>
      </ul>
      <div class="col-md-6 mt-5 ">
        <a class="btn btn-primary btn-space" href="/profile">Return to Profile</a>
        <a class="btn btn-primary mt-3 mt-md-0" href="/feed">Return to Feed</a>
      </div>
    </div>
    </div>
    <script>
      function confirmDelete() {
        return confirm("Are you sure you want to delete this post?")
      }
    </script>
    <script src="/js/audio.js"></script>
    <script src="/js/edit-post.js"></script>
  </body>

  <%- include('partials/footer') -%>