<%- include('partials/header') -%>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>
          <p><strong class="glow-text">User Name:</strong><br>
            <%= user.userName %>
          </p>
          <p><strong class="glow-text">Email:</strong><br>
            <%= user.email %>
          </p>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>
        <div class="mt-5">
          <h2 class="add-post">Add a post</h2>
          <% if (messages && messages.error && messages.error.length> 0) { %>
            <div class="alert alert-danger" role="alert">
              <% messages.error.forEach(function(message) { %>
                <%= message %><br>
                  <% }); %>
            </div>
            <% } %>
              <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="title" class="form-label">Sound Category:&nbsp;</label>

                  <select id="audio" name="category">
                    <option value="background" selected>background</option>
                    <option value="Creature Sounds">Creature Sounds</option>
                    <option value="Ambient">Ambient</option>
                    <option value="Other SFX">Other SFX</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title" spellcheck="true">
                </div>

                <div class="mb-3">
                  <label for="caption" class="form-label">Caption- Brief description of the sound</label>
                  <textarea class="form-control" id="caption" name="caption" spellcheck="true"
                    maxlength="300"></textarea>
                </div>
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Select audio file to upload:</label>
                  <input type="file" class="form-control" id="imageUpload" name="file">
                </div>
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
        </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/post/<%= posts[i]._id%>">




                <h3 id="post-title">
                  <%= posts[i].title %>
                </h3>
                <p><strong>Category</strong>: <% if (posts[i].category) { %>
                    <span class="category-text">
                      <%= posts[i].category.category %>
                    </span>
                    <% } %>
                </p>
                <button id="view-sound" data-playing="false" role="switch" aria-checked="false">

                  Click to View
                </button>

              </a>
            </li>
            <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>
      </div>
    </div>
  </div>


  </div>
  <%- include('partials/footer') -%>